/*---------------------------------------------*/
/* General										/
/*---------------------------------------------*/

body {
	behavior:			url("/css/csshover.htc");
}

/*---------------------------------------------*/
/* Barra de botones								/
/*---------------------------------------------*/
.borderBoton {
	font-family:		Verdana;
	font-size:			10px;
	font-style:			normal;
	font-weight:		normal;
	border-left:		solid Black 1px;
	border-top:			solid Black 1px;
	border-bottom:		solid Black 1px;
}

.borderBotonFinal {
	font-family:		Verdana;
	font-size:			10px;
	font-style:			normal;
	font-weight:		normal;
	border-left:		solid Black 1px;
	border-right:		solid Black 1px;
	border-top:			solid Black 1px;
	border-bottom:		solid Black 1px;
}

/*----------------------------------------------*/
/* Encabezado pagina							*/
/*----------------------------------------------*/

.titPag{
	font-family:		Verdana;
	font-size:			30px;
	font-style:			normal;
	font-weight:		bold;
	color:				#FFB310;
}

.subTitPag{
	font-family:		Verdana;
	font-size:			24px;
	font-style:			normal;
	font-weight:		bold;
	color:				#000080;
}

/*----------------------------------------------*/
/*	Tablas										*/
/*----------------------------------------------*/

.borderTabla_sup {
	border-left:		solid Black 1px;
	border-right:		solid Black 1px;
	border-top:			solid Black 1px;
}

.borderTabla_inf {
	border-left:		solid Black 1px;
	border-right:		solid Black 1px;
	border-bottom:		solid Black 1px;
}

.borderFila {
	border-top:			solid Black 1px;
}

table tr.filaTitulo th,
table tr td.filaTitulo,
.filaTitulo {
	font-family:		Verdana;
	font-size:			12px;
	font-style:			normal;
	font-weight:		bold;
	border-bottom:		solid Black 1px;
	color:				Black;
	background-color:	#FFB310;
}

table tr.filaNormal td,
.filaNormal {
	font-family:		Verdana;
	font-size:			12px;
	font-style:			normal;
	font-weight:		normal;
	border-bottom:		solid Black 1px;
}

table tr.filaResalte td,
.filaResalte {
	font-family:		Verdana;
	font-size:			12px;
	font-style:			normal;
	font-weight:		normal;
	border-bottom:		solid Black 1px;
}

table tr.filaResalte td table tr td,
.filaSinMarco {
	font-family:		Verdana;
	font-size:			12px;
	font-style:			normal;
	font-weight:		normal;
	border-bottom:		none;
}

.filaLogTitulo {
	font-family:		Courier New;
	font-size:			12px;
	font-style:			normal;
	font-weight:		bold;
	text-decoration:	underline;
}

.filaLog {
	font-family:		Courier New;
	font-size:			12px;
	font-style:			normal;
	font-weight:		normal;
}

.filaPar {
	color:				Black;
	background-color:	#FFFFE8;
}

.filaImpar {
	color:				Black;
	background-color:	#FFECD9;
}

/*----------------------------------------------*/
/* Textos										*/
/*----------------------------------------------*/

.txtMuyPeq {
	font-family:		Verdana;
	font-size:			8px;
	font-style:			normal;
	font-weight:		normal;
	color:				Black;
}

.txtPeq {
	font-family:		Verdana;
	font-size:			10px;
	font-style:			normal;
	font-weight:		normal;
	color:				Black;
}

.txtLogin {
	font-family:		Verdana;
	font-size:			11px;
	font-style:			normal;
	font-weight:		bold;
	color:				Black;
}

.txtInfo {
	font-family:		Verdana;
	font-size:			11px;
	font-style:			normal;
	font-weight:		bold;
	color:				#C80000;
}

.txtNormal {
	font-family:		Verdana;
	font-size:			12px;
	font-style:			normal;
	font-weight:		normal;
	color:				Black;
}

.txtNegrita {
	font-family:		Verdana;
	font-size:			12px;
	font-style:			normal;
	font-weight:		bold;
	color:				Black;
}

.txtNegritaResalte {
	font-family:		Verdana;
	font-size:			12px;
	font-style:			normal;
	font-weight:		bold;
	color:				Black;
	background-color:	#FFB310;
}

.txtGrande{
	font-family:		Verdana;
	font-size:			16px;
	font-style:			normal;
	font-weight:		bold;
	color:				Black;
}

.txtGrandeResalte{
	font-family:		Verdana;
	font-size:			16px;
	font-style:			normal;
	font-weight:		bold;
	color:				Black;
	background-color:	#FFB310;
}

.txtAvisos {
	font-family:		Verdana;
	font-size:			18px;
	font-style:			normal;
	font-weight:		bold;
	color:				#FF0000;
}

.txtMP0 {
	font-family:		Verdana;
	font-size:			12px;
	font-style:			normal;
	font-weight:		normal;
	color:				Black;
	padding-top:		1em;
	padding-left:		2em;
	padding-right:		2em;
}

.txtMP1 {
	font-family:		Verdana;
	font-size:			14px;
	font-style:			normal;
	font-weight:		bold;
	color:				Black;
	padding-top:		1em;
	padding-left:		1em;
}

.txtMP2 {
	font-family:		Verdana;
	font-size:			12px;
	font-style:			normal;
	font-weight:		normal;
	color:				Black;
	padding-left:		4em;
}

.txtMP3 {
	font-family:		Verdana;
	font-size:			12px;
	font-style:			normal;
	font-weight:		normal;
	color:				Black;
	padding-left:		6em;
}

.txtMP4 {
	font-family:		Verdana;
	font-size:			12px;
	font-style:			normal;
	font-weight:		normal;
	color:				Black;
	padding-top:		1em;
	padding-left:		2em;
	padding-right:		2em;
}

/*----------------------------------------------*/
/* Sincroguia									*/
/*----------------------------------------------*/

.cajaEPG{
	font-family:		Verdana,Arial;
	font-size:			11px;
	font-style:			normal;
	font-weight:		normal;
	color:				Black;
	background-color:	#FFEEE6;
	padding:			.2em;
	border-style:		groove;
}

/*----------------------------------------------*/
/* Campos de edicion							*/
/*----------------------------------------------*/

.txtParam {
	font-family:		Verdana;
	font-size:			12px;
	font-style:			normal;
	font-weight:		bold;
	color:				Black;
}

.txtDescParam {
	font-family:		Verdana;
	font-size:			12px;
	font-style:			normal;
	font-weight:		bold;
	color:				Black;
}

.cajaLogin {
	font-family:		Verdana,Arial;
	font-size:			11px;
	font-style:			normal;
	font-weight:		bold;
	color:				Black;
	border-style:		groove;
}

.cajaPlana {
	font-family:		Verdana,Arial;
	font-size:			11px;
	font-style:			normal;
	font-weight:		normal;
	color:				Black;
	background-color:	#FFFF80;
	border-style:		groove;
}

.cajaPlanaLock {
	font-family:		Verdana,Arial;
	font-size:			11px;
	font-style:			normal;
	font-weight:		normal;
	color:				Black;
	background-color:	#FFECD9;
	border-style:		groove;
}

.cajaParam {
	font-family:		Verdana,Arial;
	font-size:			12px;
	font-style:			normal;
	font-weight:		normal;
	color:				Black;
	background-color:	#FFFF80;
	border-style:		groove;
}

.cajaParamLock {
	font-family:		Verdana,Arial;
	font-size:			12px;
	font-style:			normal;
	font-weight:		normal;
	color:				Black;
	background-color:	#FFECD9;
	border-style:		groove;
}

/*----------------------------------------------*/
/* Resaltes de raton							*/
/*----------------------------------------------*/

table tr td.borderBoton:hover,
.borderBoton:hover,
table tr td.borderBotonFinal:hover,
.borderBotonFinal:hover,
table tr td.borderFila:hover,
.borderFila:hover,
.filaResalte:hover,
.hover {
	color:				Black;
	background-color:	#CCFFCC;
}

/*----------------------------------------------*/
/* 												*/
/*----------------------------------------------*/
